.red-button {
  background-color: #ea6464;
  color: white;
  padding: 13px 15px;
  border-radius: 8px;
  box-shadow: 2px 3px 10px #494949;
  cursor: pointer;
  font-weight: bold;
}

.red-button:hover {
  box-shadow: 2px 3px 20px #494949;
}
